@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Toto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 16px;
}
:root{
    --clr-dgreen: #108A00;
    --clr-green: #14a800;
    --clr-black: #000;
    --clr-white: #fff;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em 1.5em;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.nav_logo{
    width: 6em;
}
.nav_logo img{
    width: 100%;
}
nav a{
    text-decoration: none;
    color: var(--clr-black);
    font-size: .9em;
}
nav .nav_left{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.nav_left .links a{
    padding-left: .6em;
}
.nav_left .links a:hover{
    color: var(--clr-green);
}
.nav_right input, .nav_right a{
    margin-left: 2em;
}
.nav_right .search{
    border: 2px solid rgb(213, 213, 213);
    padding: .5em 3em .5em 2em;
    border-radius: 2em;
    outline: none;
}
.nav_right select{
    border: 2px solid rgb(213, 213, 213);
    padding: .62em 1em;
    border-radius: 2em;
    outline: none;
    font-size: .87em;
}
nav .nav_right .btn{
    padding: .7em 1.5em;
    border-radius: 2em;
    background-color: var(--clr-dgreen);
    color: var(--clr-white);
    transition: all 250ms ease;
}
nav .nav_right .btn:hover{
    background-color: var(--clr-green);
}
.bottom_nav{
    padding: 1.5em .8em;
}
.bottom_nav a{
    margin-left: 1.2em;
    font-size: .86em;
    font-weight: 500;
    cursor: pointer;
}
.bottom_nav a:hover:not(.mo){
    text-decoration: underline;
}
.first{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin: auto;
}
.first_left{
    width: 34em;
}
.first_left h1{
    font-size: 5em;
    line-height: 1em;
    margin-top: .4em;
    color: var(--clr-green);
    font-family: 'Noto Serif Toto', serif;
}
.first_left p{
    font-size: 1.5em;
    color: #5e6d55;
    line-height: 1.3;
    margin-top: .3em;
}
.first_left button{
    margin-top: .6em;
    text-decoration: none;
    padding: .6em 1.5em;
    border: none;
    cursor: pointer;
    border-radius: 2em;
    background-color: var(--clr-green);
    color: var(--clr-white);
    transition: all 250ms ease;
}
.first_left button:hover{
    background-color: var(--clr-dgreen);
}
.powered{
    margin-top: 6em;
}
.powered p{
    font-size: 1.15em;
    color: rgb(154, 154, 154);
}
.powered img{
    margin-right: 1.5em;
}
.first_right{
    width: 30em;
}
.first_right img{
    width: 100%;
}
.second{
    width: 78%;
    padding-top: 5em;
    margin: auto;
}
.second_head h1{
    font-family: 'Noto Serif Toto', serif;
    color: #001e00;
    font-size: 2.5em;
}
.second_head p{
    font-weight: 500;
    color: rgb(91, 91, 91);
    margin-bottom: 3em;
}
.second_head .green{
    color: var(--clr-dgreen);
    cursor: pointer;
}
.second_head .green:hover{
    color: var(--clr-green);
    text-decoration: underline;
}
.lgreen{
    color: var(--clr-green);
}
.skills_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    grid-column-gap: 2em;
    grid-row-gap: 1em;
    margin-bottom: 3em;
}
.skills{
    background-color: #f2f7f2;
    border-radius: .5em;
    padding: 1.2em 1.6em 1.2em 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    cursor: pointer;
}
.skills:hover{
    background-color: #dce2dc;
}
.skills h1{
    font-size: 1.4em;
    font-weight: 500;
}
.skills p{
    color: #5e6d55;
}
.back_img{
    width: 83%;
    background-image: url(./images/find-talent.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    border: none;
    border-radius: .5em;
    overflow: hidden;
    padding: 1.7em 2.1em;
    position: relative;
    margin-bottom: 3em;
}
.back_img h3{
    color: var(--clr-white);
    font-size: 1.5em;
}
.third_bottom{
    margin-top: 4em;
    padding-bottom: 1.5em;
    color: var(--clr-white);
    width: 100%;
}
.talent_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
}
.talent{
    background-color: var(--clr-green);
    padding: .8em 3em 1.2em 1.2em;
    border-radius: .5em;
    cursor: pointer;
    transition: all 250ms ease;
}
.talent:hover{
    color: var(--clr-green);
    background-color: var(--clr-white);
}
.talent h2{
    font-size: 2em;
}
.talent p{
    font-size: 1.1em;
    padding-top: .8em;
}
.third_head{
    width: 25em;
    margin-bottom: 2.5em;
}
.third_head h1{
    font-size: 4em;
    line-height: 1.1;
    margin-bottom: .5em;
    font-family: 'Noto Serif Toto', serif;
}
.third_head p{
    font-size: 1.2em;
    line-height: 1.3;
}
.bgimg{
    position: relative;
}
.bgimg img{
    position: absolute;
    z-index: 1;
    left: 51.4em;
    bottom: -15px;
}
.fourth{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 2em;
    width: 83%;
    margin: auto;
}
.fourth_left{
    grid-column: 1 / span 2;
    border-radius: .5em;
    margin: 0;
    background-color: #f2f7f2;
    padding: 4em 15em 2.5em 1.8em;
}
.fourth_left h1{
    font-family: 'Noto Serif Toto', serif;
    font-size: 4em;
}
.fourth_left dl{
    margin-top: 1.3em;
}
.fourth_left dl dt{
    font-size: 2.2em;
    font-weight: 500;
    margin-top: .8em;
}
.fourth_left dl dd{
    font-size: 1.15em;
    color: rgb(116, 116, 116);
}
.fourth_right{
    border-radius: .5em;
    background-color: var(--clr-green);
    color: var(--clr-white);
    display: flex;
    align-items: flex-end;
}
.fourth_bottom{
    padding: 4em 2em;
}
.fourth_bottom h3, .fourth_bottom h2{
    font-size: 2.2em;
    line-height: 1;
}
.icon_wrapper{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.icon_wrapper .icon{
    padding-top: .25em;
    margin-right: 1em;
}
.fourth_bottom i{
    font-size: 1.6em;
}
.fifth{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    border-radius: .5em;
    width: 83%;
    overflow: hidden;
    margin-top: 3em;
    margin-right: auto;
    margin-left: auto;
}
.fifth_left{
    overflow: hidden;
    z-index: 1;
}
.fifth_right{
    background-color: #1f57c3;
    color: var(--clr-white);
    padding: 2em;
    display: flex;
    flex-direction: column;
}
.fifth_right_top{
    padding-right: 5em;
    flex: 1 30px;
    margin: 0 2%;
}
.fifth_right_top h2{
    font-size: 1.5em;
}
.fifth_right_top h1{
    margin-top: .5em;
    font-size: 4em;
    font-family: 'Noto Serif Toto', serif;
    line-height: 1.1;
}
.fifth_right_top p{
    font-size: 1.2em;
}
.fifth_right_bottom{
    font-weight: 600;
    font-size: 1.3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
    gap: 1em;
    border-top: 1px solid;
    padding-top: .8em;
}
.fifth_right button{
    color: #1f57c3;
    font-size: 1.05em;
    padding: .4em 2em;
    border: none;
    border-radius: 50em;
    margin-top: 2.5em;
    cursor: pointer;
}
.sixth{
    width: 80%;
    margin: 6em auto;
}
.sixth h1{
    font-family: 'Noto Serif Toto', serif;
    font-size: 4em;
    line-height: 1.1;
    margin-bottom: .3em;
    width: 60%;
    color: #001e00;
}
.brand_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5em;
    color: var(--clr-white);
}
.left_brand{
    border-radius: .5em;
    background-color: #13544e;
    padding: 2em;
}
.right_brand{
    border-radius: .5em;
    background-color: #bc511b;
    padding: 2em;
}
.brand_wrapper .top p{
    font-size: 1.8em;
    font-family: 'Noto Serif Toto', serif; 
}
.brand_wrapper .top span{
    font-size: 1.05em;
}
.light{
    color: #d5e0d5;
}
.brand_wrapper .top{
    margin-bottom: 6em;
}
.brand_wrapper .extra{
    margin-bottom: 7em !important;
}
.bottom_row{
    border-top: 1px solid rgba(255, 255, 255, 0.829);
    padding-top: .8em;
    margin-top: .8em;
}
.brand_wrapper .bottom_row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}
.brand_wrapper .bottom_row h2{
    font-size: 1.5em;
    margin-bottom: .2em;
}
.seventh{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83%;
    padding: 2em;
    margin: auto;
    border-radius: .5em;
    background-color: #f2f7f2;
}
.blight{
    color: #5e6d55;
}
.ukrain_content h1{
    font-family: 'Noto Serif Toto', serif;
    font-size: 2.5em;
    color: #001e00;
}
.ukrain_content p{
    font-size: 1.2em;
}
.ukrain_content button{
    color: var(--clr-green);
    border: 2px solid var(--clr-green);
    border-radius: 2em;
    padding: .5em 2em;
    margin-top: 2em;
    background-color: var(--clr-white);
    cursor: pointer;
    transition: all 200ms ease;
}
.ukrain_content button:hover{
    background-color: #f2f7f2;
}
.ukrain{
    width: 10em;
}
.eight_list_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    grid-row-gap: 4em;
    width: 80%;
    margin: 4em auto;
}
.eight_list_wrapper div ul{
    list-style: none;
}
.eight_list_wrapper .list_1 li{
    font-size: 2.2em;
    line-height: 1.5;
    font-weight: 500;
    color: #d5e0d5;
    cursor: pointer;
}
.eight_list_wrapper .list_1 li:nth-child(1){
    color: var(--clr-green);
}
.eight_list_wrapper .list_1 li:hover{
    color: var(--clr-green);
}
.eight_list_wrapper .list_2 li, .eight_list_wrapper .list_3 li{
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.75em;
    color: #5e6d55;
    cursor: pointer;
}
.eight_list_wrapper .list_2 li:hover, .eight_list_wrapper .list_3 li:hover{
    color: var(--clr-green);
}
.ninth{
    width: 96%;
    border-radius: .5em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5em;
    background-color: #001e00;
    color: var(--clr-white);
    padding: 5.5em 4.5em;
}
.ninth_lists{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    grid-row-gap: 4em;
}
.ninth_lists div li{
    list-style: none;
    font-size: .9em;
    line-height: 2;
    font-weight: 500;
}
.ninth_lists div li:nth-child(1){
    line-height: 3;
    color: #d5e0d5;
}
.ninth .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4em;
    border-bottom: 1px solid;
    padding-bottom: 1em;
}
.ninth .links span{
    margin-right: 1em;
}
.ninth i{
    font-size: 1em;
    padding: .7em .9em;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}
.ninth i:hover{
    background-color: rgb(151, 151, 151);
}
.ninth .last ul{
    padding-top: 1em;
    display: flex;
    gap: 1em;
    list-style: none;
    cursor: pointer;
}
.ninth .last li:hover{
    text-decoration: underline;
}
.ninth .last span{
    margin-right: 2.5em;
    cursor: auto;
}






@media only screen and (max-width: 630px) {
    .nav_right{
        display: none;
    }
}
@media only screen and (max-width: 1400px) {
    .bgimg img{
        position: absolute;
        z-index: 1;
        left: 133%;
        bottom: -45em;
    }
}
@media only screen and (max-width: 925px){
    .bgimg img{
        display: none;
    }
}
@media only screen and (max-width: 455px){
    .fourth_left h1{
        font-size: 2em;
    }
}